body,body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    
}

::-webkit-scrollbar {

    width: 7px;

  }

  ::-webkit-scrollbar-button {

    background: transparent;

    border-radius: 4px;

  }

  ::-webkit-scrollbar-track-piece {

    background: transparent;

  }

  ::-webkit-scrollbar-thumb {

    border-radius: 4px;

    background-color: rgba(0, 0, 0, 0.4);

    border: 1px solid slategrey;

  }

  ::-webkit-scrollbar-track {

    box-shadow: transparent;

  }
.wrapper {
    min-height: calc(100% - 50px); 
    margin-bottom: -50px; 
    margin: 0 auto;    
    padding: 20px;
    transition: margin-left 0.3s ease;
    z-index: 0;
    width: 70%;
}
.content {
    padding-bottom: 50px;
}
header {
    background-color: rgb(0, 126, 126);
    color: #fff;
    text-align: center;
    padding: 15px;
    display: block;
    font-size: 8PX;
}
.nav-section li{
    text-decoration:none;
    color: #fff;
    padding: 5%;
    font-size: large;
}
.nav-section a{
    text-decoration:none;
    color: #fff;
}
.nav-section li:hover{
    text-decoration:none;
    color: #fff;
    background-color: rgb(0, 126, 126);
    transition:  0.3s ease;
}
#menu-btn {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    /* background-color: #333; */
    color: rgb(0, 0, 0);
    border: none;
    position: fixed;
    top: 10px;
    left: 10px;
}

#cmenu-btn {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    padding-right: 10px;
    /* background-color: rgba(255, 255, 255, 0.676); */
    color: #fff;
    border: none;
    float: right;
    top: 30px;
    right: 30px;
}

.sidebartitle{
    float: left;
    padding: 10px;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
    font-weight: bolder;
    /* background-color: aqua; */
}
.sidebartop{
    width: 100%;
    height:11.5%;
    /* border-bottom: #fff 1px solid; */
    /* background-color: rgba(85, 85, 85, 0.616); */
}

.sidebarbot{
    width: 100%;
    height:78%;
}
#sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 225px;
    left:-225px;
    background-color: rgb(85, 85, 85);
    transition: left 0.3s ease;
    display: block;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}


footer {
    /* background-color: #333; */
    background-color: rgb(0, 126, 126);

    color: #fff;
    text-align: center;
    padding: 1%;
    position: relative;
    width: 98%;
    height: 5%;
}
.contentofallgraph>h2{
    background-color: rgb(0, 126, 126);
}
.graph{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}
.wgraph{
    height: max-content;
    width: 100%;
    /* background-color: #ccc; */
    text-align: center;
    margin: 0 auto;
}
.contentofallgraph{
    width: 100%;
    height: max-content;
    /* background-color: bisque; */
    text-align: center;    
    margin-top: 8%; 

}
.contentofgraph{
    width: 100%;
    height: max-content;
    background-color: bisque;
    text-align: center;
}
#content1 {
    display: block;
}
@media only screen and (max-width: 600px) {
    #menu-btn {
        display: block;
    }

    #sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .sidebar.active {
        left: 0;
    }

    .content.active {
        margin-left: 0;
    }
}

.tab-container {
    width: 100%;
    height: min-content;
    border-bottom: black 2px;
}

.tab {
    cursor: pointer;
    padding: 1%;
    background-color: #f1f1f1;
    width: 22%;
    margin-left: 1%;
    text-align: center;
    float: left;
    font-weight: bolder;
}
.tab.active {
    background-color: rgb(164, 255, 246); 
}
.contenta {
    display: none;
    float: none;
    width: 98%;
    padding: 1%;
    height: max-content;
    /* background-color: lightblue; */
    text-align: center;
    margin: 0 auto;
}
.actualcontent{
    float: none;
    width: 90%;
    margin: 0 auto;
}