<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis</title>
    <script type="text/javascript" src="{% static "js/nav.js" %}"> </script>
</head>
<body>

    {% include 'home\header.html' %}
    <div class="wrapper">

        <div class="content">
            <h1>Preface</h1>
            <p>Your content goes here.</p>
        </div>    
    </div>


    {% include 'home\footer.html' %}

</body>
</html>
